In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("glass.csv")

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [14]:
df.Type.unique()

array([1, 2, 3, 5, 6, 7], dtype=int64)

In [30]:
X=df[["RI","Na","Mg","Al","Si","K","Ca","Ba","Fe"]]
y=df[["Type"]]

In [31]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [32]:
type1=df.loc[df["Type"]==1]

In [33]:
type1

         RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  Type
0   1.52101  13.64  4.49  1.10  71.78  0.06   8.75  0.0  0.00     1
1   1.51761  13.89  3.60  1.36  72.73  0.48   7.83  0.0  0.00     1
2   1.51618  13.53  3.55  1.54  72.99  0.39   7.78  0.0  0.00     1
3   1.51766  13.21  3.69  1.29  72.61  0.57   8.22  0.0  0.00     1
4   1.51742  13.27  3.62  1.24  73.08  0.55   8.07  0.0  0.00     1
..      ...    ...   ...   ...    ...   ...    ...  ...   ...   ...
65  1.52099  13.69  3.59  1.12  71.96  0.09   9.40  0.0  0.00     1
66  1.52152  13.05  3.65  0.87  72.22  0.19   9.85  0.0  0.17     1
67  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17     1
68  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16     1
69  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03     1

[70 rows x 10 columns]

In [34]:
type2=df.loc[df["Type"]==2]
type3=df.loc[df["Type"]==3]
type5=df.loc[df["Type"]==5]
type6=df.loc[df["Type"]==6]
type7=df.loc[df["Type"]==7]

In [35]:
print(type1.size,
type2.size,
type3.size,
type5.size,
type6.size,
type7.size)

700 760 170 130 90 290

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [38]:
from sklearn.neighbors import KNeighborsClassifier

In [39]:
knn=KNeighborsClassifier()

In [41]:
from sklearn.model_selection import GridSearchCV

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
k_range=list(range(1,31))
grid_params=dict(n_neighbors=k_range)

In [49]:
grid=GridSearchCV(knn,grid_params,cv=5,scoring="accuracy",return_train_score=True,verbose=1)

In [51]:
y_train.shape

(149, 1)

In [52]:
X_train.shape

(149, 9)

In [55]:
grid_search=grid.fit(X_train,y_train.values.ravel())

Fitting 5 folds for each of 30 candidates, totalling 150 fits

In [56]:
print("the number of neighbors :",grid_search.best_params_)

the number of neighbors : {'n_neighbors': 14}

In [58]:
print("the training accuracy is :",grid_search.best_score_*100)

the training accuracy is : 65.7471264367816

In [61]:
knn=KNeighborsClassifier(n_neighbors=14)

In [64]:
knn.fit(X_train,y_train.values.ravel())
test_pred=knn.predict(X_test)

In [65]:
test_acc=accuracy_score(y_test,test_pred)

In [67]:
print("The testing accuracy is :",test_acc*100)

The testing accuracy is : 58.46153846153847

In [68]:
from sklearn.metrics import classification_report

In [70]:
print(classification_report(y_test,test_pred))

              precision    recall  f1-score   support

           1       0.53      0.89      0.67        19
           2       0.58      0.48      0.52        23
           3       0.00      0.00      0.00         4
           5       1.00      0.33      0.50         6
           6       0.00      0.00      0.00         3
           7       0.73      0.80      0.76        10

    accuracy                           0.58        65
   macro avg       0.47      0.42      0.41        65
weighted avg       0.56      0.58      0.54        65

C:\Users\USER\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\USER\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\USER\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))